<!-- error.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <script>
        // Display error message using SweetAlert
        Swal.fire({
            title: 'Error',
            html: '<div style="text-align: center;">' +
                '<p>{{ error_message }} </p>' +
                '</div>',
            icon: 'error',
            confirmButtonText: 'OK'
        }).then((result) => {
            // Redirect to search form after user clicks OK
            if (result.isConfirmed) {
                window.location.href = '{% url "search" %}';
            }
        });
    </script>
</body>

</html>